.content {
	padding-top: 16px;
}

.title {
	height: 110px;
	width: 960px;
	background-color: #bae0f3;
}

.Chtitle {
	color: #09719f;
	font-size: 26px;
	font-weight: normal;
	width: 262px;
	padding: 30px 0 6px 38px;
	border-bottom: 2px solid #ffffff;
}

.Entitle {
	color: #ffffff;
	font-weight: normal;
	padding: 5px 0 0 38px; 
}

.wrap {
	margin-top: 15px;
	overflow: hidden;
	margin-bottom: 9px;
}

.part {
	background-color: #effaff;
	border: 1px solid #a3b4bf;
	float: left;
}

.part li {
	font-size: 14px;
	padding: 10px 86px 10px 71px;
}

.feedback li {
	background: url(../images/feedbackbg.png) no-repeat 21px 9px;
}

.part_cur li {
	background: #419cd5 url(../images/downloadonbg.png) no-repeat 21px 9px;
}

.part_cur {
	color: #ffffff;
}

.communication {
	width: 696px;
	min-height: 685px;
	border: 1px solid #a3b4bf;
	float: right;
}

.cur {
	background-color: #b5dff3;
	font-size: 14px;
	padding: 10px 23px;
}

.communication h2 {
	font-size: 28px;
	font-weight: normal;
	color: #09719f;
	padding-left: 10px;
	border-left: 3px solid #419cd5;
	margin: 12px 10px 14px 10px;
}

.details {
	margin: 0 24px 14px 24px;
}

.details h4 {
	font-size: 15px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 7px;
}

.data {
	font-size: 12px;
	color: #000000;
	text-align: center;
	margin-bottom: 7px;
}

.attachment {
	margin-top: 41px;
	border-top: 1px dotted #929292;
}

.attachment h6 {
	font-size: 13px;
	font-weight: normal;
	line-height: 22px;
	margin-top: 18px;
}

.attachment a {
	margin-left: 26px;
}