.content {
	padding-top: 16px;
}

.title {
	height: 110px;
	width: 960px;
	background-color: #bae0f3;
}

.Chtitle {
	color: #09719f;
	font-size: 26px;
	font-weight: normal;
	width: 262px;
	padding: 30px 0 6px 38px;
	border-bottom: 2px solid #f7f6f6;
}

.Entitle {
	color: #f7f6f6;
	font-weight: normal;
	padding: 5px 0 0 38px; 
}

.wrap {
	margin-top: 15px;
	overflow: hidden;
	margin-bottom: 9px;
}

.part {
	background-color: #effaff;
	border: 1px solid #a3b4bf;
	float: left;
}

.part li {
	font-size: 14px;
	padding: 10px 86px 10px 71px;
}

.first_aid li {
	background: url(../images/first_aidbg.png) no-repeat 21px 9px;
}

.ordinary li {
	background: url(../images/ordinarybg.png) no-repeat 21px 9px;
}

.part_cur li {
	background: #419cd5 url(../images/expertonbg.png) no-repeat 21px 9px;
}

.test li {
	background: url(../images/testbg.png) no-repeat 21px 9px;
}

.assistant li {
	background: url(../images/assistantbg.png) no-repeat 21px 9px;
}

.traffic li {
	background: url(../images/trafficbg.png) no-repeat 21px 9px;
}

.first_aid li:hover {
	background: #8abce6 url(../images/first_aidonbg.png) no-repeat 21px 9px;
}

.ordinary li:hover {
	background: #8abce6 url(../images/ordinaryonbg.png) no-repeat 21px 9px;
}

.test li:hover {
	background: #8abce6 url(../images/testonbg.png) no-repeat 21px 9px;
}

.assistant li:hover {
	background: #8abce6 url(../images/assistantonbg.png) no-repeat 21px 9px;
}

.traffic li:hover {
	background: #8abce6 url(../images/trafficonbg.png) no-repeat 21px 9px;
}

.part_other:hover {
	color: #ffffff;
}

.part_cur {
	color: #ffffff;
}

.medical_guide {
	width: 696px;
	min-height: 685px;
	border: 1px solid #a3b4bf;
	float: right;
}

.cur {
	background-color: #b5dff3;
	font-size: 14px;
	padding: 10px 23px;
}

.medical_guide h2 {
	font-size: 28px;
	font-weight: normal;
	color: #09719f;
	padding-left: 10px;
	margin: 12px 10px 14px 10px;
	border-left: 3px solid #419cd5;
}

.essay {
	margin: 12px 10px 14px 10px;
}

.essay h4 {
	color: #09719f;
	font-size: 14px;
	text-indent: 28px;
	line-height: 25px;
}

.essay p {
	font-size: 13px;
	color: #000000;
	text-indent: 26px;
	line-height: 25px;
}

.last {
	padding-top: 33px;
}