.content {
	padding-top: 16px;
}

.title {
	height: 110px;
	width: 960px;
	background-color: #bae0f3;
}

.Chtitle {
	color: #09719f;
	font-size: 26px;
	font-weight: normal;
	width: 262px;
	padding: 30px 0 6px 38px;
	border-bottom: 2px solid #ffffff;
}

.Entitle {
	color: #ffffff;
	font-weight: normal;
	padding: 5px 0 0 38px; 
}

.wrap {
	margin-top: 15px;
	overflow: hidden;
	margin-bottom: 9px;
}

.part {
	background-color: #effaff;
	border: 1px solid #a3b4bf;
	float: left;
}

.part li {
	font-size: 14px;
	padding: 10px 86px 10px 71px;
}

.part_cur li {
	background: #419cd5 url(../images/hospitalonbg.png) no-repeat 21px 9px;
}

.expert li {
	background: url(../images/expertbg.png) no-repeat 21px 9px;
}

.doctor li {
	background: url(../images/doctorbg.png) no-repeat 21px 9px;
}

.rules li {
	background: url(../images/rulesbg.png) no-repeat 21px 9px;
}

.part_cur {
	color: #ffffff;
}

.introduction {
	width: 696px;
	min-height: 685px;
	border: 1px solid #a3b4bf;
	float: right;
}

.cur {
	background-color: #b5dff3;
	font-size: 14px;
	padding: 10px 23px;
}

.introduction h2 {
	font-size: 28px;
	font-weight: normal;
	color: #09719f;
	padding-left: 10px;
	margin: 12px 10px 14px 10px;
	border-left: 3px solid #419cd5;
}

.essay {
	margin: 0 10px 14px 10px;
}

.essay img {
	margin-right: 15px;
	float: left;
}

.essay p {
	font-size: 13px;
	color: #262626;
	letter-spacing: 1px;
	text-indent: 28px;
	line-height: 23px;
	padding-bottom: 32px;
}