.content {
	padding-top: 16px;
}

.title {
	height: 110px;
	width: 960px;
	background-color: #bae0f3;
}

.Chtitle {
	color: #09719f;
	font-size: 26px;
	font-weight: normal;
	width: 262px;
	padding: 30px 0 6px 38px;
	border-bottom: 2px solid #f7f6f6;
}

.Entitle {
	color: #f7f6f6;
	font-weight: normal;
	padding: 5px 0 0 38px; 
}

.wrap {
	margin-top: 15px;
	overflow: hidden;
	margin-bottom: 9px;
}

.part {
	background-color: #effaff;
	border: 1px solid #a3b4bf;
	float: left;
}

.part li {
	font-size: 14px;
	padding: 10px 86px 10px 71px;
}

.part_cur li {
	background: #419cd5 url(../images/preventonbg.png) no-repeat 21px 9px;
}

.health_edu li {
	background: url(../images/health_edubg.png) no-repeat 21px 9px;
}

.health_edu li:hover {
	background: #8abce6 url(../images/health_eduonbg.png) no-repeat 21px 9px;
}

.part_other:hover {
	color: #ffffff;
}

.part_cur {
	color: #ffffff;
}

.health_care {
	width: 696px;
	min-height: 685px;
	border: 1px solid #a3b4bf;
	float: right;
}

.cur {
	background-color: #b5dff3;
	font-size: 14px;
	padding: 10px 23px;
}

.health_care h2 {
	font-size: 28px;
	font-weight: normal;
	color: #09719f;
	padding-left: 10px;
	border-left: 3px solid #419cd5;
	margin: 12px 10px 14px 10px;
}

.list {
	margin: 0 10px 14px 10px;
}

.prevent_intro {
	height: 88px;
	padding: 12px 0 15px;
	margin: 0 13px 0 15px;
	border-bottom: 2px dotted #7d7d7d;
}

.prevent_intro h4 {
	letter-spacing: 1px;
	padding-bottom: 8px;
}

.date {
	color: #707070;
	font-weight: normal;
	float: right;
}

.prevent_intro p {
	color: #000000;
	font-size: 13px;
	text-indent: 28px;
	letter-spacing: 1px;
	line-height: 20px;
}

.data {
	color: #000000;
	text-align: center;
	padding-top: 23px;
}

.data a {
	color: #000000;
}

.data span {
	display: inline-block;
	width: 40px;
	height: 15px;
	line-height: 15px;
	margin-top: 3px;
	border: 1px solid #000000;
}